.maroon {
    background: #965E72;
    color: #f5f0f0A0;
}
.yellow {
    background: #FFBC67;
    color: #33455C80;
}
.orange {
    background: #F09356;
    color: #33455C80;
}
.pink {
    background: #DA727E;
    color: #33455C80;
}
.purple {
    background: #685C79;
    color: #f5f0f0A0;
}
.blue {
    background: #5A78A1;
    color: #f5f0f0A0;
}
.dark-blue {
    background: #33455C;
    color: #f5f0f0A0;
}
.light-gray {
    background: #f5f0f0;
    color: #33455C;
}
.med-light-gray {
    background: #edeaea;
    color: #33455C;
}
.text-color {
    color: #33455C;
}
.light-text-color {
    color: #f5f0f0;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    padding-top: 8rem;
}

.triangle {
    width: 100%;
    height: 60rem;
    top: 0;
    position: absolute;
    z-index: -1;
}

/**
    Header
 */
.header {
    position: sticky;
    top: 1rem;
    z-index: 3;
    opacity: 1;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2))
}
.header .rect {
    width: 600pt;
    transition: width .5s;
    max-width: 80%;
    text-align: right;
    padding: 1rem 4rem 1.5rem 2rem;
    clip-path: polygon(0 0, 96% 2%, 100% 92%, 0 100%);
}
.header .rect.shrink {
    width: 350pt;
    font-size: .5em;
}
.header h1 {
    font-weight: 100;
    font-size: 60pt;
    margin: 0;
    transition: font-size .5s;
    text-align: right;
    color: #33455C;
}
.header .rect.shrink  h1{
    font-size: 40pt;
}

a {
    color: #5A78A1;
}

/**
    Main Containers
 */
.main-container {
    max-width: 60rem;
    margin: 8rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 16pt;
    color: #33455C;
}
.main-container h2 {
    margin-bottom: 1rem;
}
.main-container .section {
    margin-bottom: 5rem;
    position: relative;
}

.sub-section-header {
    padding: .5rem
}
.badge {
    display: inline;
    padding: 0 .5rem;
    transition: padding .2s;
}
.badge:hover {
    padding: .2rem .7rem;
}

.no-underline {
    text-decoration: none !important;
}
.main-container .expand-container {
    margin-left: 1.5rem;
    font-size: .85em;
}
.highlight-hover {
    cursor: pointer;
    transition: background .3s;
}
.highlight-hover:hover {
    background: #33455C10;
}


/**
    Input
 */
input[type=text] {
    font-family: 'Roboto Mono', monospace;
    color: #33455C;
    border: none;
    background: #ffffff00;
    border-bottom: .1rem solid #33455C;
    font-size: 1em;
}
input[type=text]:focus {
    outline: none;
    border-bottom: .11rem solid #5A78A1;
}
.input {
    display: flex;
    width: 60%;
    margin: auto;
}
.input>span {
    flex: .4;
    text-align: right;
    margin: .25rem 1rem 0;
}
.input>input {
    flex: .6;
}

/**
    Button
 */
button {
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    border: none;
    background: #FFBC67;
    color: #33455C;
    padding: .5rem 2rem;
    margin: .5rem;
    cursor: pointer;
    clip-path: polygon(4% 0%, 100% 6%, 96% 98%, 0% 100%);
    position:relative;
}
button:focus {
    outline: none;
}
button:hover {
    background: #F5B463;
}

.card {
    padding: 5%;
    margin: 1rem .5rem;
    height: 15rem;
    transition: transform .2s ease-out;
}
.card:hover {
    transform: rotate(2deg);
}
.card.counter-clockwise:hover {
    transform: rotate(-2deg);
}
/**
    Slant
*/
.slant1 {
    clip-path: polygon(0 0, 94% 0, 98% 96%, 2% 100%);
}
.slant2 {
    clip-path: polygon(4% 0%, 98% 6%, 96% 98%, 0% 100%);
    padding-left: 10% !important;
}
.slant3 {
    clip-path: polygon(0 2%, 90% 2%, 94% 96%, 0 98%);
}