.maroon {
    background: #965E72;
    color: #f5f0f0A0;
}
.yellow {
    background: #FFBC67;
    color: #33455C80;
}
.orange {
    background: #F09356;
    color: #33455C80;
}
.pink {
    background: #DA727E;
    color: #33455C80;
}
.purple {
    background: #685C79;
    color: #f5f0f0A0;
}
.blue {
    background: #5A78A1;
    color: #f5f0f0A0;
}
.dark-blue {
    background: #33455C;
    color: #f5f0f0A0;
}
.light-gray {
    background: #f5f0f0;
    color: #33455C;
}
.med-light-gray {
    background: #edeaea;
    color: #33455C;
}
.text-color {
    color: #33455C;
}
.light-text-color {
    color: #f5f0f0;
}
body {
    margin: 0;
    font-size: 16pt;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    /*padding-top: 8em;*/
}

/**
    Header
 */
.header {
    position: fixed;
    top: 1em;
    z-index: 3;
    opacity: 1;
    /*margin-top: 2rem;*/
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2))
}
.header .rect {
    width: 20em;
    overflow: hidden;
    white-space: nowrap;

    transition: width .5s;
    max-width: 80%;
    text-align: right;
    padding: .5em 1em 1em 2em;
}
.header .rect.shrink {
    width: 16em;
    font-size: .8em;
}
.header h1 {
    margin: 0;
    transition: font-size .5s;
    text-align: right;
    color: #33455C;
}

/**
    Links
 */
a {
    color: #5A78A1;
}
a.mdi {
    text-decoration: none;
}
.no-underline {
    text-decoration: none !important;
}
/**
    Badge
 */
.badge {
    display: inline;
    padding: 0 .5em;
    transition: padding .2s;
}
.badge:hover {
    padding: .2em .7em;
}


/**
    Containers
 */
.page-container {
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.page {
    position: absolute;
    width: 100%;
    transition: left .5s;
}
.main-container {
    max-width: 40em;
    margin: 8em auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #33455C;
}
.main-container h2 {
    margin-bottom: 1em;
}
.main-container .section {
    margin-bottom: 2em;
    position: relative;
}
.sub-section-header {
    padding: .5em
}
.main-container .expand-container {
    margin-left: 1.5em;
    font-size: .85em;
}
.highlight-hover {
    cursor: pointer;
    transition: background .3s;
}
.highlight-hover:hover {
    background: #33455C10;
}
.icon-link {
    font-size: 1.5em;
    padding: 0 .5em;
}
.icon-link-container {
    text-align: center;
}

/**
    Input
 */
input[type=text] {
    font-family: 'Roboto Mono', monospace;
    color: #33455C;
    border: none;
    background: #ffffff00;
    border-bottom: .1em solid #33455C;
    font-size: 1em;
}
input[type=text]:focus {
    outline: none;
    border-bottom: .11em solid #5A78A1;
}
.input {
    display: flex;
    width: 60%;
    margin: auto;
}
.input>span {
    flex: .4;
    text-align: right;
    margin: .25em 1em 0;
}
.input>input {
    flex: .6;
}

/**
    Button
 */
button {
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    border: none;
    background: #FFBC67;
    color: #33455C;
    padding: .5em 2em;
    margin: .5em;
    cursor: pointer;
    position:relative;
}
button:focus {
    outline: none;
}
button:hover {
    background: #F5B463;
}
/**
    Popup
 */
.popup-background {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #33455C;
    background-color: #33455C40;
}
.popup {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/**
    Popup
 */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 5em;
    background-color: #222f3f;
    color: #edeaea;
    text-align: center;
    font-size: .5em;
    padding: .2em .5em;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -3em;
    transform: scale(0);
    transition: transform 100ms ease;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: #222f3f;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    transform: scale(1);
}

/**
    Popup
 */
.sub-section .icon-container {
   text-align: center;
}
.icon-container .icon {
    height: 6rem;
}