html, body {
  background: #eeeeee;
  color: #009688;
  font-family: sans-serif;

  display: block;
  position: relative;
  height: 100%;
}

@font-face {
  font-family: robotoLight;
  src: url("RobotoTTF/Roboto-Thin.ttf");
}

@font-face {
  font-family: roboto;
  src: url("RobotoTTF/Roboto-Regular.ttf");
}

#skrollr-body {
  float: left;
  width: 100%;
   height: 100%;
}
/*@media handheld, only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
body {
  overflow: auto;
  font-size: 100%;
  }
}*/

#page {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#toolbar {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #009688;
  padding: 0 16px;
  font-family: Roboto;

  -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.20);
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.20);
}

#actions {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 64px;
  top: 0;
  left: 0;
  right 0;
}

#actions .icon {
  padding: 7px;
  margin: .02%;
  vertical-align: middle;
}

#actions .spacer {
  flex: 1;
}

#actions svg {
  display: inline-block;
  pointer-events: none;
  position: relative;
  vertical-align: middle;
  width: .02%;
  min-width: 24px;

  height: .02%;
  min-height: 24px;
/*  width: 24px;
  height: 24px;*/
  fill: #fff;
}

#title {
  padding: 21px;
  position: absolute;
  bottom: 0;
  color: #fff;
}

#content {
  display: block;
  position: relative;
  padding: 24px;
}

.card {
  display: block;
  position: relative;
  width: 80%;
  min-width: 450px;
  max-width: 850px;
  border-radius: 6px;
  background-color: #fff;
  margin: 24px auto;
  padding: 24px;
  /*padding-bottom: 100px;*/
  font-family: robotoLight

  -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);  
}

.header {
  font-size: 40px;
  width: 80%;
  min-width: 450px;
  max-width: 850px;
  margin: 16px auto;
  font-family: roboto;
}

li {
  margin: 3px;
  text-indent: 10px;
}

#slideshow {
  overflow: hidden;
  margin: 10px auto; 
  position: relative; 
  width: 250px;
  height: 400px;

  -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  border-radius: 6px;
}

#slideshow > div {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
}

.slideshow-img {
  width: 100%;
  border-radius: 6px;
}

.vid-wrapper {
  width: 350px;
  height: 547px;
  overflow: hidden;
  position: relative;

  -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.15);
  border-radius: 6px;
}

.vid {
  width: 100%;
  margin-top: -8%;
}

.githublink {
  margin: 20px;
}

.btn {
  background-color: #009688;
  color: #fff;
  font-family: roboto;
  margin: 20px;
  border-color: 6px;
  padding: 5%;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
}

.circle-image {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.25);
}

#headshot {
  display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}